<mat-card appearance="outlined">
    <mat-card-content>
        <h1>Contacts</h1>

        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Nom</th>
                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <ng-container matColumnDef="pk">
                <th mat-header-cell *matHeaderCellDef>Clé publique</th>
                <td mat-cell *matCellDef="let element" class="pk-cell">{{ truncate(element.pk) }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <div class="actions">
            <a mat-stroked-button routerLink="/addcontact">
                <i class="bi bi-person-plus"></i> Nouveau contact
            </a>
        </div>
    </mat-card-content>
</mat-card>