<div class="container-sm">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-md-10 mx-auto col-lg-5">
            <div class="d-grid gap-2 col-6 mx-auto">
                <label for="progress" class="form-label">Niveau <span id="level">{{ level }}</span></label>
                <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar bg-success" style="width: {{ percent }}%"></div>
                </div>

                <h2>Solde : <span class="">{{ solde }} </span><i class="bi bi-cookie"></i></h2>

                <button class="btn btn-primary" type="button" (click)="createDailyMoney()" [disabled]="isDailyMoneyCreated"><i class="bi bi-piggy-bank"></i> Créer ma monnaie du
                    jour</button>

                <a routerLink="/pay" class="btn btn-primary" type="button"><i class="bi bi-send"></i> Payer</a>
                <a routerLink="/cashpayment" class="btn btn-primary" type="button"><i class="bi bi-router"></i> Recevoir un
                    paiement</a>
                <a routerLink="/cashpapers" class="btn btn-primary" type="button"><i class="bi bi-qr-code-scan"></i> Encaisser
                    des billets</a>
                <a routerLink="/printpapers" class="btn btn-primary" type="button"><i class="bi bi-printer"></i> Imprimer des
                    billets</a>
                <a routerLink="/transactions" class="btn btn-primary" type="button"><i class="bi bi-card-list"></i> Historique
                    de transactions</a>
                <a routerLink="/contacts" class="btn btn-primary" type="button"><i class="bi bi-person-lines-fill"></i>
                    Contacts</a>
                <a routerLink="/account" class="btn btn-primary" type="button"><i class="bi bi-person"></i> Mon compte</a>
                <a routerLink="/logout" class="btn btn-primary" type="button"><i class="bi bi-power"></i> Déconnexion</a>
            </div>
        </div>
    </div>
</div>