<h2 mat-dialog-title>Génération en cours...</h2>

<mat-dialog-content>
    @if (!isReady) {
    <div class="waiting">
        <mat-spinner diameter="40"></mat-spinner>
        <span>On fait rouler la planche à billets...</span>
    </div>
    } @else {
    <p>C'est bon ! Il n'y a plus qu'à cliquer sur télécharger.</p>
    }
</mat-dialog-content>

<mat-dialog-actions align="end">
    @if (isReady) {
    <button mat-flat-button (click)="dialogRef.close()">
        <i class="bi bi-download"></i> Télécharger
    </button>
    }
</mat-dialog-actions>