<mat-card class="" appearance="outlined">
    <mat-card-header>
        <mat-card-title>Imprimer des billets</mat-card-title>
        <mat-card-subtitle>Pour aller faire les soooooldes !</mat-card-subtitle>
    </mat-card-header>

    <mat-divider [inset]="true"></mat-divider>

    <mat-card-content>
        <mat-list>
            <mat-list-item role="listitem">
                <mat-select placeholder="Combien de billets de 1 ?" (selectionChange)="selectedValue($event, 1)"
                    required>
                    <mat-option selected value="0">0</mat-option>
                    <mat-option selected value="1">1 x 1 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="2">2 x 1 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="3">3 x 1 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="4">4 x 1 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="5">5 x 1 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="6">6 x 1 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="7">7 x 1 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="8">8 x 1 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="9">9 x 1 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="10">10 x 1 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="15">15 x 1 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="20">20 x 1 <i class="bi bi-cookie"></i></mat-option>
                </mat-select>
                <span>x 1 <i class="bi bi-cookie"></i></span>
            </mat-list-item>

            <mat-list-item role="listitem">
                <mat-select placeholder="Combien de billets de 3 ?" (selectionChange)="selectedValue($event, 3)"
                    required>
                    <mat-option selected value="0">0</mat-option>
                    <mat-option selected value="1">1 x 3 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="2">2 x 3 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="3">3 x 3 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="4">4 x 3 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="5">5 x 3 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="6">6 x 3 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="7">7 x 3 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="8">8 x 3 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="9">9 x 3 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="10">10 x 3 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="15">15 x 3 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="20">20 x 3 <i class="bi bi-cookie"></i></mat-option>
                </mat-select>
            </mat-list-item>

            <mat-list-item role="listitem">
                <mat-select placeholder="Combien de billets de 10 ?" (selectionChange)="selectedValue($event, 10)"
                    required>
                    <mat-option selected value="0">0</mat-option>
                    <mat-option selected value="1">1 x 10 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="2">2 x 10 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="3">3 x 10 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="4">4 x 10 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="5">5 x 10 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="6">6 x 10 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="7">7 x 10 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="8">8 x 10 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="9">9 x 10 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="10">10 x 10 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="15">15 x 10 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="20">20 x 10 <i class="bi bi-cookie"></i></mat-option>
                </mat-select>
            </mat-list-item>

            <mat-list-item role="listitem">
                <mat-select placeholder="Combien de billets de 20 ?" (selectionChange)="selectedValue($event, 20)"
                    required>
                    <mat-option selected value="0">0</mat-option>
                    <mat-option selected value="1">1 x 20 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="2">2 x 20 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="3">3 x 20 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="4">4 x 20 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="5">5 x 20 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="6">6 x 20 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="7">7 x 20 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="8">8 x 20 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="9">9 x 20 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="10">10 x 20 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="15">15 x 20 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="20">20 x 20 <i class="bi bi-cookie"></i></mat-option>
                </mat-select>
            </mat-list-item>

            <mat-list-item role="listitem">
                <mat-select placeholder="Combien de billets de 34 ?" (selectionChange)="selectedValue($event, 34)"
                    required>
                    <mat-option selected value="0">0</mat-option>
                    <mat-option selected value="1">1 x 34 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="2">2 x 34 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="3">3 x 34 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="4">4 x 34 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="5">5 x 34 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="6">6 x 34 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="7">7 x 34 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="8">8 x 34 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="9">9 x 34 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="10">10 x 34 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="15">15 x 34 <i class="bi bi-cookie"></i></mat-option>
                    <mat-option selected value="20">20 x 34 <i class="bi bi-cookie"></i></mat-option>
                </mat-select>
            </mat-list-item>

            <mat-list-item role="listitem">
                <p> Total : {{ total }} / {{ max }}<i class="bi bi-cookie"></i>
                    @if (isTooMuch()) {
                    <span> C'est trop, tu n'as pas les moyens !</span>
                    }
                </p>
            </mat-list-item>

            <mat-list-item role="listitem">
                <mat-checkbox [(ngModel)]="validated" (click)="validationCheck()">
                    J'ai compris qu'en cliquant sur "Générer" je ne reviendrai pas en arrière.
                </mat-checkbox>
            </mat-list-item>

        </mat-list>
    </mat-card-content>

    <mat-card-actions>
        <button matButton="outlined" type="button" (click)="generatePapers()" [disabled]="!canGenerate"><i
                class="bi bi-printer"></i> Générer PDF</button>
        <a matButton="outlined" routerLink="/home"><i class="bi bi-house"></i> Acceuil</a>
    </mat-card-actions>
</mat-card>

<div id="qrcodes">
    @for (paper of papers; track paper.hash) {
    <p>
        <qrcode id="qrcode-{{paper.hash}}" [qrdata]="paper.hash" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    </p>
    }
</div>