<div class="container-sm">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-md-10 mx-auto col-lg-5">
            
            <div class="d-grid gap-2 col-6 mx-auto">
                <h3>Imprimer des billets </h3>
                <div class="input-group mb-3">
                    <select class="form-select">
                        <option selected value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                    </select>
                    <span class="input-group-text" id="basic-addon2">x 1 <i class="bi bi-cookie"></i></span>
                </div>

                <div class="input-group mb-3">
                    <select class="form-select">
                        <option selected value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                    </select>
                    <span class="input-group-text" id="basic-addon2">x 3 <i class="bi bi-cookie"></i></span>
                </div>

                <div class="input-group mb-3">
                    <select class="form-select">
                        <option selected value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                    </select>
                    <span class="input-group-text" id="basic-addon2">x 10 <i class="bi bi-cookie"></i></span>
                </div>

                <div class="input-group mb-3">
                    <select class="form-select">
                        <option selected value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                    </select>
                    <span class="input-group-text" id="basic-addon2">x 20 <i class="bi bi-cookie"></i></span>
                </div>

                <div class="input-group mb-3">
                    <select class="form-select">
                        <option selected value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                    </select>
                    <span class="input-group-text" id="basic-addon2">x 34 <i class="bi bi-cookie"></i></span>
                </div>

                <button matButton="outlined" type="button"><i class="bi bi-printer"></i> Générer PDF </button>
            </div>
        </div>
    </div>
</div>