<div class="page-content">
  <router-outlet></router-outlet>
</div>

<nav class="bottom-nav">
  <a routerLink="/home" routerLinkActive="active">
    <mat-icon>home</mat-icon>
    <span>Accueil</span>
  </a>
  <a routerLink="/pay" routerLinkActive="active">
    <mat-icon>payments</mat-icon>
    <span>Paiement</span>
  </a>
  <a routerLink="/contacts" routerLinkActive="active">
    <mat-icon>people</mat-icon>
    <span>Contacts</span>
  </a>
  <a routerLink="/account" routerLinkActive="active">
    <mat-icon>person</mat-icon>
    <span>Mon compte</span>
  </a>
</nav>
