
<mat-card class="" appearance="outlined">
    <mat-card-header>
        <mat-card-title>Mon compte </mat-card-title>
        <mat-card-subtitle>Inscrit(e) depuis le {{ inscription_date }}</mat-card-subtitle>
    </mat-card-header>

    <mat-divider [inset]="true"></mat-divider>

    <mat-card-content>
        <mat-list>
            <mat-list-item role="listitem">
                <p>Nom & prénom : {{ name }}</p>
            </mat-list-item>
            <mat-list-item role="listitem">
                <p>Clé : {{ publickey }}</p>
            </mat-list-item>
        </mat-list>
    </mat-card-content>

    <qrcode [qrdata]="publickey" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>

    <mat-card-actions>
        <a matButton routerLink="/user-selection" type="button"><i class="bi bi-power"></i>
            Déconnexion</a>
    </mat-card-actions>
</mat-card>