<div class="container-sm">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">Créer un compte</h1>
            <p class="col-lg-10 fs-4">Créer un compte de monnaie organique, c'est se lancer tranquillement dans la
                transition pour quitter le capitalisme.</p>    
            <p class="col-lg-10 fs-4">Cela peut paraître anodin, mais en changeant notre façon de voir et de vivre la monnaie,
                nous pouvons réellement changer le monde.
            </p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            <form [formGroup]="signupForm" (ngSubmit)="signup()" class="p-4 p-md-5 border rounded-3 bg-light">
                <div class="mb-3">
                    <label for="email" class="form-label">Addresse mail</label>
                    <input type="email" class="form-control" formControlName="email" aria-describedby="emailHelp" placeholder="Turlututu@chapeau.tu">
                    <div id="emailHelp" class="form-text">Votre email ne sera jamais partagé.</div>
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Nom & prénom</label>
                    <input formControlName="name" class="form-control" type="text" placeholder="Alain Terrieur">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Mot de passe</label>
                    <input type="password" class="form-control" formControlName="password">
                </div>
                <div class="mb-3">
                    <label for="birthdate" class="form-label">Date de naissance (AAAAMMJJ)</label>
                    <input type="text" class="form-control" formControlName="birthdate">
                </div>
                <button type="submit" class="btn btn-primary">Créer mon compte</button>
                <div class="mb-3">
                    <span>Déjà un compte ? 
                        <a routerLink="/login">Se connecter</a></span>
                </div>
            </form>
        </div>
    </div>
</div>