<mat-card appearance="outlined">
    <mat-card-content>
        <h1>Nouveau contact</h1>

        <form [formGroup]="addcontactForm" (ngSubmit)="addContact()">
            <section>
                <mat-form-field>
                    <mat-label>Nom</mat-label>
                    <input matInput type="text" formControlName="name" placeholder="Marie Claude">
                </mat-form-field>
            </section>

            <section>
                <mat-form-field>
                    <mat-label>Clé publique</mat-label>
                    <input matInput type="text" formControlName="pk" placeholder="Un truc à 66 caractères">
                </mat-form-field>
            </section>

            <section>
                <button mat-flat-button type="submit">Enregistrer</button>
            </section>
        </form>
    </mat-card-content>
</mat-card>