<h2 mat-dialog-title>Mot de passe ?</h2>

<mat-dialog-content>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Il faut ton mot de passe pour cette action</mat-label>
    <input matInput type="password" [(ngModel)]="data.password" placeholder="Mot de passe">
    <mat-icon matSuffix>lock</mat-icon>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close()">Annuler</button>
  <button mat-flat-button color="primary" (click)="dialogRef.close(data.password)">OK</button>
</mat-dialog-actions>
