<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Qui est là ?</mat-card-title>
    <mat-card-subtitle>(C'est batmaaaaaaan ! Nanananananananana...)</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>Choisis une utilisatrice / un utilisateur :</p>
    <mat-list>
      @for (user of users; track user.name) {
        <mat-list-item>
          <button mat-stroked-button (click)="selectUser($index)">
            {{ user.name }}
          </button>
        </mat-list-item>
      } @empty {
        <mat-list-item>
          Il n'y a personne ici ! Il faut se connecter ou créer un compte, mon chou.
        </mat-list-item>
      }
    </mat-list>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-actions>
    <a mat-stroked-button routerLink="/server-selection">Ajouter un compte</a>
    <a mat-stroked-button routerLink="/restore-account">Restaurer un compte</a>
  </mat-card-actions>

  <mat-card-footer>
    <p class="footer-text">
      Si tu ne sais pas ce que tu fais ici, tu peux aller lire
      <a href="https://economie-organique.fr/" target="_blank">le site de l'économie organique</a>
      pour tout comprendre et quitter (en douceur) ce capitalisme de bouze !
    </p>
  </mat-card-footer>
</mat-card>
